@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.unroll {
  width: 100%;
  overflow: hidden;
  animation: unroll 2s;
  white-space: nowrap;
}

@keyframes unroll {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
